---
import '@fontsource-variable/dm-sans';
import '@fontsource-variable/outfit';
import Commit from 'icons:astro/mingcute/git-commit-fill';
import Palette from 'icons:astro/mingcute/palette-fill';
import Refresh from 'icons:astro/mingcute/refresh-anticlockwise-1-fill';

import '@/app.css';
import Topbar from '@/components/Topbar.astro';
---

<body
  class="dark:bg-gray-dark-invert bg-gray-dark flex h-full flex-col transition-colors"
>
  <main class="flex-1">
    <div class="mx-auto flex w-11/12 max-w-3xl flex-col gap-10 py-4">
      <Topbar />
      <div class="dark:prose-invert prose prose-lg w-full max-w-none">
        <slot />
      </div>
    </div>
  </main>
  <footer
    class="dark:border-t-gray-lighter-invert dark:text-white-invert border-t-gray grid place-items-center gap-4 border-t py-8 text-sm text-white text-opacity-70 dark:text-opacity-70 sm:text-base"
  >
    <div class="flex flex-row items-center justify-center gap-2">
      <Palette />
      <span class="w-1/2 sm:w-fit">
        Dark color palette stolen from <a
          href="https://github.com/rebelot/kanagawa.nvim"
          class="underline"
          target="_blank">kanagawa.nvim</a
        >
      </span>
    </div>
    <button id="clear-data" class="flex flex-row items-center gap-2">
      <Refresh />
      <span>Clear site data</span>
    </button>
    <div class="flex flex-row items-center gap-2">
      <Commit />
      {import.meta.env.CI_COMMIT_SHORT_SHA ?? 'development'}
    </div>
  </footer>
</body>
