---
import { cva, type VariantProps } from 'class-variance-authority';

const variants = cva('inline-flex items-start px-1 gap-1 text-sm', {
  variants: {
    color: {
      normal: 'dark:text-white-invert text-white',
      red: 'dark:text-red-invert text-red',
      orange: 'dark:text-orange-invert text-orange',
      yellow: 'text-yellow dark:text-yellow-invert',
      green: 'text-green dark:text-green-invert',
      blue: 'text-blue dark:text-blue-invert',
      purple: 'text-purple dark:text-purple-invert',
      pink: 'text-pink dark:text-pink-invert',
    },
  },
  defaultVariants: {
    color: 'normal',
  },
});

type Variant = VariantProps<typeof variants>;

export interface Props extends Variant {
  icon: astroHTML.JSX.Element;
  text: string;
  class?: string;
}

const { icon, text, color } = Astro.props;
const Icon = icon;
---

<span class:list={[variants({ color }), 'overflow-visible']}>
  <Icon />
  <strong class="text-inherit">{text}</strong>
</span>
